{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Knowledgebase{% endblock %}

{% block body_block %}

{% include 'knowledgebase/article_search.html' %}
<div class="row">
<div class="col-md-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead">Menu</span>
    </div>
    <div class="list-group">
      <a href="{% url 'knowledgebase:create_article' %}" class="list-group-item">New Article</a>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead">Recently Updated Articles</span>
    </div>
      {% include 'knowledgebase/article_list.html' %}
  </div>
</div>
<div class=col-md-2>
  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <span class="lead">Tags</span>
      <!-- Button trigger modal -->
      <a class="btn btn-default btn-sm pull-right" href="{% url 'knowledgebase:create_tag' %}"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
      <div class="list-group">
        {% if tags.count = 0 %}
          <div class="list-group-item">No Tags Created</div>
        {% else %}
        {% for tag in tags%}
        <a href="{% url 'knowledgebase:tag_detail' tag.id %}" class="list-group-item">
          <span class="badge">{{ tag.article_set.count }}</span>
          {{ tag.name|capfirst }}
        </a>
        {% endfor %}
        {% endif %}
      </div>
  </div>
</div>
</div>

{% endblock %}
