{% extends 'base.html' %}

{% load staticfiles %}

{% load widget_tweaks %}

{% block title %}New Tag{% endblock %}

{% block body_block %}

<div class="col-md-4 col-md-offset-4">
<div class="panel panel-default">
  <div class="panel-heading">
    <b>Update Tag</b>
  </div>
  <div class="panel-body">
  {% include 'form_alert_box.html' %}
    <form method="post" action="">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
          <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
          {{ field|add_class:"form-control tolowercase" }}
        </div>
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Save" />
    </form>
  </div>
</div>
{% endblock %}
