{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}New User{{ person.last_name }}{% endblock %}

{% block body_block %}

<div class="col-md-6 col-md-offset-3">
  <ol class="breadcrumb">
    <li><a href="{% url 'user_management:index' %}">Manage Users</a></li>
    <li class="active">New User</li>
  </ol>
<div class="panel panel-default">
  <div class="panel-heading">
    <span>New User</span>
  </div>
  <div class="panel-body">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.errors }}
    </div>
    {% endif %}
    <form action="{% url 'user_management:create' %}" method="POST">
      {% csrf_token %}
      {% include "user_management/user_form.html" with form=form %}
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{% url 'user_management:index' %}" class="btn btn-default">Cancel</a>
    </form>
  </div>
</div>
</div>
{% endblock %}
