{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ person.first_name }} {{ person.last_name }}{% endblock %}

{% block body_block %}
<div class="col-md-6 col-md-offset-3">
  <ol class="breadcrumb">
    <li><a href="{% url 'user_management:index' %}">Manage Users</a></li>
    <li class="active">{{ person.first_name}} {{ person.last_name }}</li>
  </ol>
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <span>{{ person.first_name }} {{ person.last_name}}</span>
    <div class="btn-group btn-group-xs pull-right">
      <a href="{% url 'user_management:change_status' person.id %}" class="btn {{ person.is_active|yesno:'btn-success, btn-warning' }}">{{ person.is_active|yesno:"Active, Disabled"}}</a>
      <a href="{% url 'user_management:edit' person.id %}" class="btn btn-default">Edit</a>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
      <p>
        {% if person.is_staff %}<span class="label label-primary">Administrator</span>{% endif %}
      </p>
      <p>Username: {{ person.username }}</p>
      <p>E-Mail: {{ person.email }}</p>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Delete User?</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete user {{ person.first_name }} {{ person.last_name }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="{% url 'user_management:delete' person.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
