{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Admin Management{% endblock %}

{% block body_block %}


<div class="col-md-8 col-md-offset-2">
  <ol class="breadcrumb">
    <li class="active">Manage Users</li>
  </ol>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <b>Users</b>
      <span class="pull-right"><a href="{% url 'user_management:create' %}" class="btn btn-default btn-xs">New User</span></a></span>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>E-Mail</th>
          <th>Status</th>
          <th>Role</th>
          <th class="text-center">Actions</th>
        </tr>
        {% for person in user_list %}
        <tr>
          <td><a href="{% url 'user_management:detail' person.id %}"> {{ person.last_name }}, {{ person.first_name }}</a></td>
          <td>{{ person.username }}</td>
          <td>{{ person.email }}</td>
          <td><span class="label {{ person.is_active|yesno:'label-success,label-warning' }}">{{ person.is_active|yesno:"Active,Disabled" }}</span></td>
          <td><span class="label {{ person.is_staff|yesno:'label-primary,label-default' }}">{{ person.is_staff|yesno:"Admin,User" }}</span></td>
          <td class="text-center">
            <div class="btn-group btn-group-xs">
              <a href="{% url 'user_management:edit' person.id %}" class="btn btn-default">Edit</span></a>
              <a href="#" class="btn btn-default">Delete</span></a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    </div>
</div>

{% endblock %}
