{% extends "base.html" %}

{% load staticfiles %}

{% load widget_tweaks %}

{% block body_block %}
<div class="col-md-4 col-md-offset-4">
<div class="panel panel-default">
  <div class=panel-heading>
    <b>Update Password for {{user.first_name}} {{user.last_name}}</b>
  </div>
  <div class="panel-body">
  {% if form.errors %}
  <div class="alert alert-danger">
    {{ form.errors }}
  </div>
  {% endif %}
  <form method="post" action="{% url 'user_management:update_password' %}">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
        {{ field|add_class:"form-control" }}
      </div>
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Update Password" />
    </form>
  </div>
</div>
</div>

{% endblock %}
